/.metadata/.lock
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.projects/builder-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/builder-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/composite-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/composite-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/decorator-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/decorator-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/facade-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/facade-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/mediator-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/mediator-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/observer-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/observer-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/proxy-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/proxy-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/singleton-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/singleton-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/visitor-pattern/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/visitor-pattern/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/Cloud Foundry.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (1).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (2).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (3).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (4).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient.launch
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/1130956409.index
/.metadata/.plugins/org.eclipse.jdt.core/1193244552.index
/.metadata/.plugins/org.eclipse.jdt.core/1220509539.index
/.metadata/.plugins/org.eclipse.jdt.core/1474865912.index
/.metadata/.plugins/org.eclipse.jdt.core/1753125977.index
/.metadata/.plugins/org.eclipse.jdt.core/2119472531.index
/.metadata/.plugins/org.eclipse.jdt.core/2295449331.index
/.metadata/.plugins/org.eclipse.jdt.core/2298224853.index
/.metadata/.plugins/org.eclipse.jdt.core/2503456130.index
/.metadata/.plugins/org.eclipse.jdt.core/2646129315.index
/.metadata/.plugins/org.eclipse.jdt.core/2693629482.index
/.metadata/.plugins/org.eclipse.jdt.core/2784981938.index
/.metadata/.plugins/org.eclipse.jdt.core/2998284914.index
/.metadata/.plugins/org.eclipse.jdt.core/3026306856.index
/.metadata/.plugins/org.eclipse.jdt.core/3195096477.index
/.metadata/.plugins/org.eclipse.jdt.core/3363617038.index
/.metadata/.plugins/org.eclipse.jdt.core/3370817665.index
/.metadata/.plugins/org.eclipse.jdt.core/341008536.index
/.metadata/.plugins/org.eclipse.jdt.core/3598909652.index
/.metadata/.plugins/org.eclipse.jdt.core/3687426485.index
/.metadata/.plugins/org.eclipse.jdt.core/3834946290.index
/.metadata/.plugins/org.eclipse.jdt.core/3863631085.index
/.metadata/.plugins/org.eclipse.jdt.core/3876080355.index
/.metadata/.plugins/org.eclipse.jdt.core/3898993584.index
/.metadata/.plugins/org.eclipse.jdt.core/3933425272.index
/.metadata/.plugins/org.eclipse.jdt.core/4115067908.index
/.metadata/.plugins/org.eclipse.jdt.core/4139719990.index
/.metadata/.plugins/org.eclipse.jdt.core/4163435678.index
/.metadata/.plugins/org.eclipse.jdt.core/996332683.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/index.db
/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/10/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/10/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/12/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/12/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/13/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/3/13/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/decorator-pattern/2019/3/13/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/decorator-pattern/2019/3/13/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/observer-pattern/2019/3/13/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/observer-pattern/2019/3/13/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.core/archetypesInfo.xml
/.metadata/.plugins/org.eclipse.m2e.core/builder-pattern.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/facade-pattern.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/mediator-pattern.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_5_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_6.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_8
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/_a.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/segments_b
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_10.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_10_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_11.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_u.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_u_2.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_v.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_w.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_w_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_x.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_y.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_y_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_z.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_10
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
/.metadata/.plugins/org.eclipse.m2e.core/singleton-pattern.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/visitor-pattern.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
/.metadata/.plugins/org.eclipse.m2e.jdt/builder-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/composite-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/decorator-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/facade-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/mediator-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/observer-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/proxy-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/singleton-pattern.container
/.metadata/.plugins/org.eclipse.m2e.jdt/visitor-pattern.container
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.10.0.20181127-2120.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
/.metadata/version.ini
/builder-pattern/*.classpath
/decorator-pattern/.classpath
/decorator-pattern/.project
/decorator-pattern/.settings/org.eclipse.core.resources.prefs
/decorator-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/decorator-pattern/.settings/org.eclipse.jdt.core.prefs
/decorator-pattern/.settings/org.eclipse.m2e.core.prefs
/facade-pattern/.classpath
/facade-pattern/.project
/facade-pattern/.settings/org.eclipse.core.resources.prefs
/facade-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/facade-pattern/.settings/org.eclipse.jdt.core.prefs
/facade-pattern/.settings/org.eclipse.m2e.core.prefs
/mediator-pattern/.classpath
/mediator-pattern/.project
/mediator-pattern/.settings/org.eclipse.core.resources.prefs
/mediator-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/mediator-pattern/.settings/org.eclipse.jdt.core.prefs
/mediator-pattern/.settings/org.eclipse.m2e.core.prefs
/observer-pattern/.classpath
/observer-pattern/.project
/observer-pattern/.settings/org.eclipse.core.resources.prefs
/observer-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/observer-pattern/.settings/org.eclipse.jdt.core.prefs
/observer-pattern/.settings/org.eclipse.m2e.core.prefs
/proxy-pattern/.classpath
/proxy-pattern/.project
/proxy-pattern/.settings/org.eclipse.core.resources.prefs
/proxy-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/proxy-pattern/.settings/org.eclipse.jdt.core.prefs
/proxy-pattern/.settings/org.eclipse.m2e.core.prefs
/singleton-pattern/.classpath
/singleton-pattern/.project
/singleton-pattern/.settings/org.eclipse.core.resources.prefs
/singleton-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/singleton-pattern/.settings/org.eclipse.jdt.core.prefs
/singleton-pattern/.settings/org.eclipse.m2e.core.prefs
/visitor-pattern/.classpath
/visitor-pattern/.project
/visitor-pattern/.settings/org.eclipse.core.resources.prefs
/visitor-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/visitor-pattern/.settings/org.eclipse.jdt.core.prefs
/visitor-pattern/.settings/org.eclipse.m2e.core.prefs
/composite-pattern/.classpath
/composite-pattern/.settings/org.eclipse.core.resources.prefs
/composite-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/composite-pattern/.settings/org.eclipse.jdt.core.prefs
/composite-pattern/.settings/org.eclipse.m2e.core.prefs
/builder-pattern/.project
/builder-pattern/.settings/org.eclipse.core.resources.prefs
/builder-pattern/.settings/org.eclipse.jdt.apt.core.prefs
/builder-pattern/.settings/org.eclipse.jdt.core.prefs
/builder-pattern/.settings/org.eclipse.m2e.core.prefs
/composite-pattern/.project
/.metadata/.plugins/org.eclipse.core.resources/.history/1/a0d59d5a5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/11/402615225793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/18/002c41ba5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/18/e0853fc84a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/18/f095c12f5593001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/2/104336625493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/21/f0964dad5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/27/008460e35493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/27/80ab04b15493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/27/e06898f54a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/29/606bb4bc5393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/30b4d01e5893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/40a3bfba3293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/3/302876355593001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/31/70aca4c95093001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/32/206074994893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/36/d00103df4a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/39/0045c1625493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/3a/80707f775393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/3c/b0e762a24893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/3e/10b01ab14a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/40/10e448b33193001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/4a/309f686a5793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/51/d0e89f935393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/54/c031ebc65093001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/56/e0de99503293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/57/70f4818e5793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/59/80628fcf5393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/5f/c0fda8e05793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/60/b0bc83745393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/63/50ab1f785793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/67/b0e413844a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/6d/c004e98c3293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/6e/e0aaf9ad5393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/7/203581805793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/7/c0f71f0f5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/70/60031ad74a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/70/c0b369c75493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/73/00eb96b05393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/78/10c9f62c4893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/78/300b1e355793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/79/901f5db64a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/60a05cd94a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/005fbe345793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/7d/000c58ac5793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/80/306671904893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/89/0064af255793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/89/a0c4fa745793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/8d/50376d674893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/92/70af82c75393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/92/906203d75493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/94/005b6b9c3293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/97/b0a7b0814793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/99/40371fae3293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/60f2e3723293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/c0c80e9f4a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/9c/f0ab33d65393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/a4/60a556964893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/a6/1038d6a14893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/a8/30e1d6415793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/a9/901a5e804893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/ab/207b98674a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/ac/908935b03193001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/ad/301c90863293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/ad/50cb08c24a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/b3/207c746c5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/b7/303b8ca54893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/b7/a01d28c55393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/bb/601517895793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/be/600a8ed33293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/be/f01ac07f4a93001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/c0/0069839b5393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/cf/d0d6ba5b3293001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/d/104585874793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/d0/208c25d35493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/d8/70fef9575793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/e4/b05399964893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/e9/203135005593001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/f/80f375824793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/f1/603b04995793001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/00c67b7e4893001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/fe/1065aed75393001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.history/ff/b05a919f5493001918e6aa5a12fedefe
/.metadata/.plugins/org.eclipse.core.resources/.projects/builder-pattern/.indexes/e4/b9/22/81/40/a1/95/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/builder-pattern/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/mediator-pattern/.indexes/6f/26/81/40/a1/3d/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/mediator-pattern/.indexes/e4/b9/22/81/40/a1/3d/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/singleton-pattern/.indexes/6f/26/81/40/a1/db/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/singleton-pattern/.indexes/e4/b9/22/81/40/a1/db/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/visitor-pattern/.indexes/6f/26/81/40/a1/9e/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/visitor-pattern/.indexes/e4/b9/22/81/40/a1/9e/history.index
/.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (5).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (6).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/PatternClient (7).launch
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/6/25/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/6/25/refactorings.index
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_6_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_7.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_9
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/_a_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/_b.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/3606a0dcd3a79b2a9a9b6b991c65f052/segments_c
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_11_1.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_12.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_11
